<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    {%- if page.comments == true -%}
      <p style="font-size:small"> Włącz się do dyskusji. 
      Będą zachowane te komentarze, które jakoś dotyczą treści na blogu. 
      <br> Na początek trzeba mieć (darmowe) konto na   <a href="https://github.com/">GitHub</a>.</p>
      {%- include giscus_js.html -%}
    {%- endif -%}

    <h2 class="footer-heading">{{ site.title | escape }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li class="p-name">
            {%- if site.author -%}
              {{ site.author | escape }}
            {%- else -%}
              {{ site.title | escape }}
            {%- endif -%}
            </li>
            {%- if site.email -%}
            <li><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            {%- endif -%}
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        {%- include social.html -%}
      </div>

      <div class="footer-col footer-col-3">
        <p>{{- site.description | escape -}}</p>
      </div>
    </div>
			<p style="font-size:smaller">
			Koniecznie odwiedź witrynę Andrzeja Jacka Bliklego 
			<a href="https://www.moznainaczej.com.pl/ksiazka-i-artykuly/turkus-i-bcorpy/">https://www.moznainaczej.com.pl/</a>.
			<br>
			Można też zajrzeć do mojego poradnika technicznego 
      <a href="https://andrzejq.github.io/Office_S_Tips/">https://andrzejq.github.io/Office_S_Tips/</a>.</p>
  </div>

</footer>
