<script src="https://giscus.app/client.js"
        data-repo="andrzejQ/Org_wsp"
        data-repo-id="MDEwOlJlcG9zaXRvcnkzMjExNTgxNDc="
        data-category="Komentarze"
        data-category-id="DIC_kwDOEyR8A84CTdHd"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="preferred_color_scheme"
        data-lang="pl"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
</script>